*{
    padding:0;
    margin:0;
}
body{
    background-color: black;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2{
    color:gold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    margin: 50px 0 20px;
}
#logo span{
    color:white;
}
#content{
    width:80%;
    margin:0 auto;
}
header{
    display:flex;
    justify-content: space-between;
    padding:20px;
}
header ul{
    display:flex;
}
header ul li{
    list-style-type: none;
    margin:0 20px;
}
header a{
    color:white;
    font-weight:bold;
}
nav{
    display:flex;
    align-items:center;
}

.liste_vignettes{
    display:flex;
    justify-content:left;
    flex-wrap:wrap;
}
.liste_vignettes .vignette{
    width:20%;
    margin:20px;
}
.liste_vignettes .vignette img{
    width:100%;
}


