{% extends 'admin.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block main %}
    <h1>Edit Artist</h1>

    {{ include('artist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('artist_index') }}">back to list</a>

    {{ include('artist/_delete_form.html.twig') }}
{% endblock %}
