{% extends 'admin.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block main %}
    <h1>Create new Artist</h1>

    {{ include('artist/_form.html.twig') }}

    <a href="{{ path('artist_index') }}">back to list</a>
{% endblock %}
