{% extends 'admin.html.twig' %}

{% block title %}Artist{% endblock %}

{% block main %}
    <h1>Artist</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artist.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ artist.name }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ artist.firstname }}</td>
            </tr>
            <tr>
                <th>Portrait</th>
                <td>{{ artist.portrait }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('artist_index') }}">back to list</a>

    <a href="{{ path('artist_edit', {'id': artist.id}) }}">edit</a>

    {{ include('artist/_delete_form.html.twig') }}
{% endblock %}
