{% extends "front.html.twig" %}
{% block main %}

    <h1>{{ artist }}</h1>
    
    <img src="{{ asset("images/artists/"~artist.portrait )}}" alt="{{ artist }}"/>
    
    {% if artist.hasDirected|length > 0 %}
        <h2>A réalisé :</h2>
        <div class="liste_vignettes">
        {% for movie in artist.hasDirected %}
            <div class="vignette">
                <a href="{{ path("movie_front", {'id':movie.id})}}">
                    <img src="{{ asset("images/posters/"~movie.poster )}}" alt="{{ movie.title}}" title="{{ movie.title}}" />
                </a> 
            </div>
        {% endfor %}
        </div>
    {% endif %}
    
    {% if artist.actorMovies|length > 0 %}
        <h2>A joué dans :</h2>
        <div class="liste_vignettes">
        {% for movie in artist.actorMovies %}
            <div class="vignette">
                <a href="{{ path("movie_front", {'id':movie.id})}}">
                    <img src="{{ asset("images/posters/"~movie.poster )}}" alt="{{ movie.title}}" title="{{ movie.title}}" />
                </a> 
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}