{% extends 'front.html.twig' %}

{% block title %}IMDB bis{% endblock %}

{% block main %}

    <h1>Tous les films</h1>
    <div class="liste_vignettes">
    {% for movie in movies %}
        <div class="vignette">
            <a href="{{ path("movie_front", {'id':movie.id})}}">
                <img src="{{ asset("images/posters/"~movie.poster )}}" alt="{{ movie.title}}" title="{{ movie.title}}" />
            </a> 
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
