{% extends "front.html.twig" %}
{% block main %}

    <h1>{{ movie.title }}</h1>
    
    <div class="content">
        <img src="{{ asset("images/posters/"~movie.poster)}}" alt="{{ movie.title}}" />
        <p>Réalisateur : <a href="{{ path("artist_front", {"id":movie.director.id})}}">{{ movie.director }}</a></p>
        <p>{{ movie.description}}</p>
    </div>
    
    <h2>Casting</h2>
    <div class="liste_vignettes">
        {% for actor in movie.actors %}
            <div class="vignette">
                <a href="{{ path("artist_front", {"id":actor.id})}}">
                    <div>
                        <img src="{{ asset("images/artists/"~actor.portrait )}}" alt="{{ actor }}" />
                    </div>
                    <p>{{ actor }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}