{% extends "base.html.twig" %}
{% block stylesheets %}
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset("css/admin.css")}}" />
{% endblock %}
{% block body %}
<div id="content">
    <header>
        <nav>
            <ul>
                <li><a href="{{ path("movie_index") }}"> Gérer les films</a></li>
                <li><a href="{{ path("artist_index") }}">Gérer les artiste</a></li>
                <li><a href="{{ path("app_logout") }}">Déconnexion</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</div>
{% endblock %}