{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset("css/front.css")}}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div id="content">
    <header>
        <div id="logo">
            <h2>IMDB<span>2</span></h2>
        </div>
        <nav>
            <ul>
                <li><a href="{{ path("index_front") }}"> Tous les films</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    </div>
{% endblock %}